:root{

    --primary:#3f6cff;
    --secondary:#4f8dff;

    --bg-top:#061633;
    --bg-bottom:#0d2f68;

    --glass:rgba(255,255,255,.12);
    --glass-border:rgba(255,255,255,.25);

    --white:#ffffff;

    --text:#eef4ff;

    --shadow:0 20px 60px rgba(0,0,0,.35);

    --radius:30px;

    --transition:.35s;

}